{% extends "layout.html" %}

{% block content %}

<h1> Welcome to QuickStatements 3.0 </h1>

<article>
  <a role="button" href="{% url 'new_batch' %}"> New batch </a>
</article>


<form id="batchForm">
  <fieldset role="group">
    <input id="batchInput" type="number" placeholder="Batch ID..." oninput="updateBatchForm()" required />
    <input type="submit" value="See batch details" />
  </fieldset>
</form>

<form id="userForm">
  <fieldset role="group">
    <input id="userInput" type="text" placeholder="Username..." oninput="updateUserForm()" required />
    <input type="submit" value="See batches by user" />
  </fieldset>
</form>

  <style>
    /* automatically add the spinner */
    img.htmx-indicator {
      content: url("{% static 'spinner.svg' %}");
      width: 32px;
      height: 32px;
    }

    /* Override button styles */
    button,
    a[role="button"],
    input[type="submit"] {
      background-color: blue !important; /* Change the button color to blue */
      color: white !important;           /* Change text color for contrast */
      border-color: blue !important;     /* Ensure border matches the new button color */
    }

    /* Change hover state */
    button:hover,
    a[role="button"]:hover,
    input[type="submit"]:hover {
      background-color: darkblue !important; /* Darken button on hover */
      border-color: darkblue !important;     /* Darken border on hover */
    }

    {% block css %}
    {% endblock %}
    
  </style>
{% endblock %}

